<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>

    #image {
        width: 50px;
        height: 50px;
    }

</style>
<!-- navbar --><nav class="navbar navbar-expand-md  ">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id="myNavbar">
        <div class="container-fluid">
            <div class="row">
                <!-- sidebar navbar -->
                <div id="sidebar" class="col-lg-3 col-xl-2 col-md-4 col-sm-6 h-100 bg-dark sidebar fixed-top">
                    <a href="@Url.Action("Index","Home",new {area="Admin"})" class="navbar-brand text-white d-block mx-auto text-center mb-4 bottom-border pb-2">
                        Admin
                    </a>
                    @*width="50" height="50"*@
                    @*<img id="image" src="~/pictures/1546539585550.jpg" alt="nice" class="rounded-circle mr-3">*@
                    @*<a href="#" class="text-white ">Admin </a>*@
                    <div class="border-bottom pb-3"></div>
                    <ul class="navbar-nav flex-column mt-4">
                        @*<li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 current">
                <i class="fa fa-home text-light fa-lg mr-3" aria-hidden="true"></i> Dashboard
            </a>
        </li>*@
                        <li class="nav-item">
                            <a href="@Url.Action("Index","EducatorType",new {area="Admin"})" class="nav-link text-light p-3 mb-2 sidebar-link">
                                <i class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Kişisel Bilgiler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Education",new {area="Admin"})" class="nav-link text-light p-3 mb-2 sidebar-link">
                                <i class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Eğitim Bilgileri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","EducationDetails",new {area="Admin"})" class="nav-link text-light p-3 mb-2 sidebar-link">
                                <i class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Eğitim Detayları
                            </a>
                        </li>
                        @*
        <li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Analytics
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fas fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Tables
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fa fa-wrench text-light fa-lg mr-3" aria-hidden="true"></i> Settings
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fa fa-file text-light fa-lg mr-3" aria-hidden="true"></i> Documentation
            </a>
        </li>*@
                    </ul>
                </div>
                <!-- end sidebar -->
                <!--  top nav-->
                <div class="col-lg-9 col-xl-10 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="text-light text-center  mb-0">Admin Home Page</h4>
                        </div>
                    </div>


                </div>
                <!-- end nav -->
            </div>
        </div>
    </div>

</nav>
